:root {
  font-family: Helvetica, Arial, sans-serif, system-ui, Avenir;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1c1c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: bisque;
}

button {
  background: bisque;
  outline: none;
  color: #292929;
  border: none;
}

input {
  background-color: #fffaeb;
  color: #292929;
  font-weight: 500;
  padding: 8px;
  outline: none;
  border: none;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

nav {
  border-right: 1px solid bisque;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-width: 200px;
  align-items: center;
}

nav.closed {
  margin-left: -209px;
  transition: margin-left 0.3s ease-in-out;
}

nav.open {
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  @media (max-width: 768px) {
    z-index: 1000;
  }
}

.burger-menu {
  fill: bisque;
  width: 30px;
  height: 30px;
}
